@import "tailwindcss";
@keyframes cartIn {
  0% {
    opacity: 0;
    transform: translateY(6px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.cart-in {
  animation: cartIn 0.25s ease forwards;
}
@keyframes rippleEffect {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.ripple {
  position: absolute;
  border-radius: 9999px;
  transform: scale(0);
  animation: rippleEffect 600ms linear;
  background-color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.skeleton {
  position: relative;
  overflow: hidden;
  background-color: #e5e7eb; /* gray-200 */
}

.skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.6),
    transparent
  );
  animation: shimmer 1.2s infinite;
}